
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #040404;
  color: #eee;

  font-family: 'Lato', sans-serif;

  /* display: grid; 
  grid-template-columns: 2fr 4fr; 
  grid-template-rows: 10% auto 10%; 
  gap: 1rem 1rem; 
  grid-template-areas: 
    "topbanner ."
    "content side"
    "footerarea footerarea";  */

  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
}

code,pre {
  font-family: 'Source Code Pro', monospace
}



a {
  color: inherit;
  text-decoration: none;
}

/* 
main { grid-area: content; }
.list { grid-area: list; }
.endarea { grid-area: endarea; }
header { grid-area: topbanner; } */